<a href="https://colab.research.google.com/github/LDK102/AI_Week3/blob/main/AI_Wk3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url='Day1.csv'
dataframe = pd.read_csv(url)
dataframe.drop('Khoa', axis=1).head(20)

           MSSV       Unnamed: 1 Unnamed: 2      Điểm               Họ Và Tên
0   20146173.77           Lê Văn       Được  6.829333             Lê Văn Được
1   20146130.23       Trương Như        Hoa  7.545430          Trương Như Hoa
2   20146165.91        Phạm Thùy       Linh  3.121396          Phạm Thùy Linh
3   20146108.34       Nguyễn Thị       Ngọc  3.318933         Nguyễn Thị Ngọc
4   20146138.21  Nguyễn Thị Thảo     Nguyên  4.135105  Nguyễn Thị Thảo Nguyên
5   20146123.98  Nguyễn Thị Châu       Oanh  4.711640    Nguyễn Thị Châu Oanh
6   20146149.61         Phạm Thị     Phương  8.082376         Phạm Thị Phương
7   20146139.68     Tưởng Thị Hà      Trang  3.815439      Tưởng Thị Hà Trang
8   20146172.61  Nguyễn Thị Diễm       Hạnh  1.315283    Nguyễn Thị Diễm Hạnh
9   20146160.60      Bùi Thị Thu       Hiền  3.356237        Bùi Thị Thu Hiền
10  20146127.90     Phạm Thị Hòa         An  6.635337         Phạm Thị Hòa An
11  20146101.52   Nguyễn Thị Như        Hậu  4.183012      Nguyễn Thị Như Hậu
12  20146178.38        Trần Thị       Nghĩa  3.555367         Trần Thị  Nghĩa
13  20146187.44   Vương Thị Hạnh       Dung  6.837542     Vương Thị Hạnh Dung
14  20146149.89           Ka Thị         Na  9.941070               Ka Thị Na
15  20146128.27      Nguyễn Bảo         Hân  4.408162         Nguyễn Bảo  Hân
16  20146135.09     Nguyễn Huỳnh       Hiên  7.175150       Nguyễn Huỳnh Hiên
17  20146187.97   Nguyễn Thị Kim        Anh  1.457378      Nguyễn Thị Kim Anh
18  20146140.62              NaN        NaN       NaN                     NaN
19  20146145.14              NaN        NaN       NaN                     NaN

In [ ]:
import pandas as pd
url='Day1.csv'
dataframe = pd.read_csv(url)
dataframe.drop(dataframe.columns[2:4], axis=1).head(20)

           MSSV       Unnamed: 1      Điểm               Họ Và Tên
0   20146173.77           Lê Văn  6.829333             Lê Văn Được
1   20146130.23       Trương Như  7.545430          Trương Như Hoa
2   20146165.91        Phạm Thùy  3.121396          Phạm Thùy Linh
3   20146108.34       Nguyễn Thị  3.318933         Nguyễn Thị Ngọc
4   20146138.21  Nguyễn Thị Thảo  4.135105  Nguyễn Thị Thảo Nguyên
5   20146123.98  Nguyễn Thị Châu  4.711640    Nguyễn Thị Châu Oanh
6   20146149.61         Phạm Thị  8.082376         Phạm Thị Phương
7   20146139.68     Tưởng Thị Hà  3.815439      Tưởng Thị Hà Trang
8   20146172.61  Nguyễn Thị Diễm  1.315283    Nguyễn Thị Diễm Hạnh
9   20146160.60      Bùi Thị Thu  3.356237        Bùi Thị Thu Hiền
10  20146127.90     Phạm Thị Hòa  6.635337         Phạm Thị Hòa An
11  20146101.52   Nguyễn Thị Như  4.183012      Nguyễn Thị Như Hậu
12  20146178.38        Trần Thị   3.555367         Trần Thị  Nghĩa
13  20146187.44   Vương Thị Hạnh  6.837542     Vương Thị Hạnh Dung
14  20146149.89           Ka Thị  9.941070               Ka Thị Na
15  20146128.27      Nguyễn Bảo   4.408162         Nguyễn Bảo  Hân
16  20146135.09     Nguyễn Huỳnh  7.175150       Nguyễn Huỳnh Hiên
17  20146187.97   Nguyễn Thị Kim  1.457378      Nguyễn Thị Kim Anh
18  20146140.62              NaN       NaN                     NaN
19  20146145.14              NaN       NaN                     NaN

In [ ]:
import pandas as pd
url='Day1.csv'
dataframe = pd.read_csv(url)
dataframe[dataframe.index!=4].head(20)

,MSSV,Unnamed: 1,Unnamed: 2,Khoa,Điểm,Họ Và Tên
0,20146173.77,Lê Văn,Được,20.0,6.829333,Lê Văn Được
1,20146130.23,Trương Như,Hoa,20.0,7.545430,Trương Như Hoa
2,20146165.91,Phạm Thùy,Linh,20.0,3.121396,Phạm Thùy Linh
3,20146108.34,Nguyễn Thị,Ngọc,20.0,3.318933,Nguyễn Thị Ngọc
5,20146123.98,Nguyễn Thị Châu,Oanh,20.0,4.711640,Nguyễn Thị Châu Oanh
6,20146149.61,Phạm Thị,Phương,20.0,8.082376,Phạm Thị Phương
7,20146139.68,Tưởng Thị Hà,Trang,20.0,3.815439,Tưởng Thị Hà Trang
8,20146172.61,Nguyễn Thị Diễm,Hạnh,20.0,1.315283,Nguyễn Thị Diễm Hạnh
9,20146160.60,Bùi Thị Thu,Hiền,20.0,3.356237,Bùi Thị Thu Hiền
10,20146127.90,Phạm Thị Hòa,An,20.0,6.635337,Phạm Thị Hòa An
11,20146101.52,Nguyễn Thị Như,Hậu,20.0,4.183012,Nguyễn Thị Như Hậu
12,20146178.38,Trần Thị,Nghĩa,20.0,3.555367,Trần Thị Nghĩa
13,20146187.44,Vương Thị Hạnh,Dung,20.0,6.837542,Vương Thị Hạnh Dung
14,20146149.89,Ka Thị,Na,20.0,9.941070,Ka Thị Na
15,20146128.27,Nguyễn Bảo,Hân,20.0,4.408162,Nguyễn Bảo Hân
16,20146135.09,Nguyễn Huỳnh,Hiên,20.0,7.175150,Nguyễn Huỳnh Hiên
17,20146187.97,Nguyễn Thị Kim,Anh,20.0,1.457378,Nguyễn Thị Kim Anh
18,20146140.62,NaN,NaN,NaN,NaN,NaN
19,20146145.14,NaN,NaN,NaN,NaN,NaN
20,20146146.68,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd
import numpy as np

time_index = pd.date_range('01/01/2023',periods = 100000, freq='30s')
dataframe = pd.DataFrame(index = time_index)
dataframe ['Acess_Amount'] = np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14554
2023-01-08        100036
2023-01-15        101151
2023-01-22        100795
2023-01-29        101158
2023-02-05         82557

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data
data = data.set_index(data['Medal']) #số huy chương BẠC
data.loc['Silver']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Silver,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
Silver,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
Silver,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
Silver,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
Silver,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
...,...,...,...,...,...,...,...,...
Silver,2006,Turin,Skating,Speed skating,USA,1000m,M,Silver
Silver,2006,Turin,Skating,Speed skating,USA,1500m,M,Silver
Silver,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
Silver,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
Silver,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data
data = data.set_index(data['Medal']) #số huy chương Vàng
data.loc['Bronze']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Bronze,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
Bronze,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
Bronze,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
Bronze,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
Bronze,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
...,...,...,...,...,...,...,...,...
Bronze,2006,Turin,Skating,Short Track S.,USA,1000m,M,Bronze
Bronze,2006,Turin,Skating,Short Track S.,USA,5000m relay,M,Bronze
Bronze,2006,Turin,Skating,Speed skating,USA,1500m,M,Bronze
Bronze,2006,Turin,Skiing,Freestyle Ski.,USA,moguls,M,Bronze
Bronze,2006,Turin,Skiing,Snowboard,USA,Giant parallel slalom,W,Bronze

In [ ]:
data = data.set_index(data['NOC']) #số huy chươNG CỦA NƯỚC ANH
data.loc['GBR']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
GBR,1924,Chamonix,Bobsleigh,Bobsleigh,GBR,four-man,M,Silver
GBR,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold
GBR,1924,Chamonix,Ice Hockey,Ice Hockey,GBR,ice hockey,M,Bronze
GBR,1924,Chamonix,Skating,Figure skating,GBR,individual,W,Bronze
GBR,1928,St. Moritz,Bobsleigh,Skeleton,GBR,individual,M,Bronze
GBR,1936,Garmisch-Partenkirchen,Bobsleigh,Bobsleigh,GBR,four-man,M,Bronze
GBR,1936,Garmisch-Partenkirchen,Ice Hockey,Ice Hockey,GBR,ice hockey,M,Gold
GBR,1936,Garmisch-Partenkirchen,Skating,Figure skating,GBR,individual,W,Silver
GBR,1948,St. Moritz,Bobsleigh,Skeleton,GBR,individual,M,Bronze
GBR,1948,St. Moritz,Skating,Figure skating,GBR,individual,W,Bronze
GBR,1952,Oslo,Skating,Figure skating,GBR,individual,W,Gold
GBR,1964,Innsbruck,Bobsleigh,Bobsleigh,GBR,two-man,M,Gold
GBR,1976,Innsbruck,Skating,Figure skating,GBR,individual,M,Gold
GBR,1980,Lake Placid,Skating,Figure skating,GBR,individual,M,Gold
GBR,1984,Sarajevo,Skating,Figure skating,GBR,ice dancing,X,Gold
GBR,1994,Lillehammer,Skating,Figure skating,GBR,ice dancing,X,Bronze
GBR,1994,Lillehammer,Skating,Short Track S.,GBR,500m,M,Bronze
GBR,1998,Nagano,Bobsleigh,Bobsleigh,GBR,four-man,M,Bronze
GBR,2002,Salt Lake City,Bobsleigh,Skeleton,GBR,individual,W,Bronze
GBR,2002,Salt Lake City,Curling,Curling,GBR,curling,W,Gold
GBR,2006,Turin,Bobsleigh,Skeleton,GBR,individual,W,Silver

In [ ]:
data.groupby('Medal').count()

        Year  City  Sport  Discipline  NOC  Event  Event gender
Medal
Bronze   764   764    764         764  764    764           764
Gold     774   774    774         774  774    774           774
Silver   773   773    773         773  773    773           773

In [ ]:

data[data['Medal']=='Gold'].head(2311)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
AUT,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
USA,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [ ]:

data[data['Medal']=='Bronze'].head(2604)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
12,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
13,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
16,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
...,...,...,...,...,...,...,...,...
2291,2006,Turin,Skating,Short Track S.,USA,1000m,M,Bronze
2292,2006,Turin,Skating,Short Track S.,USA,5000m relay,M,Bronze
2297,2006,Turin,Skating,Speed skating,USA,1500m,M,Bronze
2303,2006,Turin,Skiing,Freestyle Ski.,USA,moguls,M,Bronze
2304,2006,Turin,Skiing,Snowboard,USA,Giant parallel slalom,W,Bronze

In [ ]:
data.groupby(['Medal','Event']).count()

                          Year  City  Sport  Discipline  NOC  Event gender
Medal  Event
Bronze 10000m               19    19     19          19   19            19
       1000m                32    32     32          32   32            32
       10km                 20    20     20          20   20            20
       10km pursuit          6     6      6           6    6             6
       12.5km mass start     1     1      1           1    1             1
...                        ...   ...    ...         ...  ...           ...
Silver slalom               32    32     32          32   32            32
       sprint                1     1      1           1    1             1
       sprint 1.5km          1     1      1           1    1             1
       super-G              13    13     13          13   13            13
       two-man              18    18     18          18   18            18

[201 rows x 6 columns]

In [ ]:

import pandas as pandas
url= 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
datas=data[(data['NOC'] =='GBR')]
print("Số huy chương của ENGLAND:",datas['Medal'].count())

Số huy chương của ENGLAND: 21

In [ ]:

data1=data[(data['Event'] =='1000m') & (data['Medal']=='Bronze')] 
print("Số huy chương chương đồng theo môn cá nhân 1000m:",data1['Event'].count())

Số huy chương chương đồng theo môn cá nhân 1000m: 32

In [ ]:

data1=data[(data['Event'] =='1000m') & (data['Medal']=='Silver')] 
print("Số huy chương chương bạc theo môn cá nhân 1000m:",data1['Event'].count())

Số huy chương chương bạc theo môn cá nhân 1000m: 31

In [ ]:

data1=data[(data['Event'] =='1000m') & (data['Medal']=='Gold')] 
print("Số huy chương chương vàng theo môn cá nhân 1000m:",data1['Event'].count())

Số huy chương chương vàng theo môn cá nhân 1000m: 31